.Container {
    padding: 30px 20px 20px 20px;
    display: flex;
    justify-content: center;
}

.OuterCard {
    max-width: var(--max-container-width);
    width: var(--max-container-width);
    padding: 20px;
    background-color: var(--primary-accents-1);
    border-radius: 10px;
}

.AlertsTable {
    padding: 20px;
    background-color: var(--primary-background);
    border-radius: 10px !important;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    font-size: var(--smaller-font-size);
}

.Title {
    font-weight: bold;
    font-size: 48px;
}

.TitleSubtext {
    font-size: var(--smaller-font-size);
    margin-bottom: 10px;
}

.TitleSubtextMobile {
    font-size: var(--smaller-font-size);
    margin-bottom: 10px;
    display: none;
}

.TrashButton {
    cursor: pointer;
    color: var(--primary-accents-5);
}

.TrashButton:hover {
    color: var(--primary-foreground);
}

.AlertsTableMobile {
    padding: 20px;
    background-color: var(--primary-background);
    border-radius: 10px !important;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    font-size: var(--smaller-font-size);
    display: none;
}

@media (max-width: 600px) {
    .AlertsTable {
        display: none;
    }
    .AlertsTableMobile {
        display: block !important;
    }
    .TitleSubtext {
        display: none;
    }
    .TitleSubtextMobile {
        display: block;
    }
}