.Container {
    border-top: 1px solid var(--primary-accents-2);
    padding: 36px 24px 24px 24px;
    display: flex;
    justify-content: center;
    background-color: var(--primary-accents-1);
}

.FooterBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-container-width);
    width: var(--max-container-width);
}

.Copyright {
    color: var(--primary-accents-5);
    font-size: var(--smaller-font-size);
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .FooterBar {
        flex-direction: column;
        min-height: 80px;
    }

    .Container {
        padding: 24px;
    }
}
