.Container {
    padding: 30px 20px 20px 20px;
    display: flex;
    justify-content: center;
}

.OuterCard {
    padding: 40px;
    max-width: var(--max-container-width);
    width: var(--max-container-width);
    background-color: var(--primary-accents-1);
    border-radius: 10px;
    /*box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);*/
}

.InnerCard {
    padding: 20px;
    background-color: var(--primary-background);
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    font-size: var(--smaller-font-size);
}

.FormCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.Title {
    font-weight: bold;
    font-size: 48px;
}

.FormTitleSection {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--primary-accents-2);
    font-weight: bold;
    font-size: var(--smaller-font-size);
}